<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <div class="container px-0">
        <h1>Success delete!!</h1>
        
        <form  method="get">
            <button class="btn btn-success" id="comeback"> Quay trở lại trang home</button>
        </form>
    </div>
</body>
<script>
    const back = document.getElementById('comeback');
    back.addEventListener('click', (e)=>{
        e.preventDefault();
        window.location.href = './Application.html';
    })
</script>
</html>